<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  </head>
  <body>
    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <!-- Detailed Information can be found here: https://developers.google.com/identity/protocols/OAuth2 -->
    <div id="signinButton">
      <span class="g-signin"
            data-scope="openid email"
            data-clientid= {{ clientid }}
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
      </span>
    </div>
    <!--END GOOGLE PLUS SIGN IN BUTTON -->

    <div id="resultPlaceholder"></div>

    <!-- GOOGLE PLUS SIGN IN -->
    <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Use a JQuery to create an AJAX call that passes the
        // one-time-authentication code to our Flask server. If our server
        // responds, write a 'login successful' message to the web page and
        // then redirect back to the main page.
        $.ajax({
          type: 'POST',
          // Set the url, which should be called
          // TODO add some documentation here
          url: '/gconnect?state={{ CSRF_state_token }}',
          // We don't want JQuery to process the response into a String
          processData: false,
          // Specify the data, which we want to send to our server
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // This function is called if the request succeeds.
            // Handle or verify the server response if necessary.
            if (result) {
              $('#resultPlaceholder').html('Login Successful!</br>' + result + '</br>Redirecting...')
              // Redirect to the main page after about 4seconds
              setTimeout(function() {
                window.location.href = "/";
              }, 4000);

            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#resultPlaceholder').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        });
      }
    }
    </script>
    <!--END GOOGLE PLUS SIGN IN -->
  </body>
</html>
